* text=auto
backend-springboot/src/main/resources/ai/models/*.safetensors filter=lfs diff=lfs merge=lfs -text
backend-springboot/src/main/resources/ai/models/*.pkl filter=lfs diff=lfs merge=lfs -text
